asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
decorator==5.1.1
distlib==0.3.7
Django==4.2.1
executing==1.2.0
Faker==19.3.1
filelock==3.12.2
gdown==4.7.1
idna==3.4
ipython==8.14.0
jedi==0.18.2
joblib==1.2.0
matplotlib-inline==0.1.6
numpy==1.24.3
opencv-python==4.7.0.72
pandas==2.0.2
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.38
pure-eval==0.2.2
pygame==2.5.2
Pygments==2.15.1
PySocks==1.7.1
python-dateutil==2.8.2
pytube==15.0.0
pytz==2023.3
pywin32==306
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
threadpoolctl==3.1.0
tqdm==4.65.0
traitlets==5.9.0
tzdata==2023.3
urllib3==2.0.2
virtualenv==20.24.3
wcwidth==0.2.6
